body {
  font-family: "Mulish", sans-serif;
}
.container {
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
header {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 20px;
}

.header-menu {
  display: flex;
  gap: 20px;
}
.page-title {
  border-bottom: 2px solid #f5edda;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: auto;
  width: 250px;
  margin-top: 50px;
  align-items: center;
}
.enter-button {
  display: flex;
  justify-content: center;
}
.my-projects {
  background-color: #f5edda;
  color: #1b1212;
  padding: 10px;
  margin-top: 20px;
}
.my-projects h1 {
  color: #1b1212;
  display: flex;
  justify-content: center;
  font-size: 26px;
}
.presentation {
  background-color: #f5edda;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 50%;
  margin: auto;
}
.card-container {
  width: 500px;
}
.card-container img {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}
.card-container img:hover {
  border: 2px black solid;
}
.projects {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
